.table-form
{
    overflow: visible;
}
table {
    border-collapse: collapse;
}

th {
    border: 2px solid var(--bg-color);
    padding: 8px 16px;
    text-align: center;
    background-color: var(--third-bg-color);
    color: var(--second-bg-color);
    border: 2px solid var(--bg-color);
    font-weight: 500;
    font-size: 0.7dvw;
}

td
{
    border: 2px solid var(--bg-color);
}

.calculator-container
{
    display: flex;
    flex-direction: column;
}

.input-container,
.output-container
{
    position: relative;
    display: flex;
    gap: 10px;
    width: 80dvw;
    margin-left: -17dvw;
}

.output-container
{
    padding-top: 30px;
}

input[type="number"],
input[type="text"],
input[type="date"],select {
    width: 200px;
}

.action
{
    border-bottom: 2px solid black;
}

.table_data input,
.table_data select
{
    border: none;
    background: none;
}

.headers
{
    width: 150px;
}

.header
{
    border-bottom: 2px solid black;
    display: flex;
    gap: 50px;
    padding-bottom: 20px;  
    font-size: large;
    flex-wrap: wrap;
}

.table-buttons
{
    display: flex;
    gap: 1.5vw;
    padding-bottom: 20px;    
}

.table-event
{
    background: none;
    border: 2px solid var(--bg-color);
    border-radius: 5%;
    height: 40px;
    padding: 0 1.5dvw;
    width: auto;
}

.bx.bxs-trash
{
    padding: 2px 2px;
    font-size: 20px;
}

.bx.bx-plus
{
    font-size: 30px;
}

.delete-btn
{
    background: transparent;
    border: none;
}

