{% from 'index.html' import common_elements,common_elements_end %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <title>Fixed Deposits</title>
    <link rel="stylesheet" href="static/style.css" />
    <link rel="stylesheet" href="static/fixed_deposits.css" />
    <link rel="stylesheet" href="static/table.css" />
    <!-- CDN Links -->
    <link
      href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
      rel="stylesheet"
    />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    {{common_elements()}}
    <section class="home-section">
      <div class="home-content">
        <i class="bx bx-menu"></i>
        <span class="text">
          <h1>Fixed Deposits</h1>
        </span>
      </div>
      <section class="calculator-container">
        <div class="output-container">
          <!--form method="post" class="table-form"-->
          <div class="table-form">
            <div class="table-buttons">
              <button onclick="addRow()" class="table-event">Add Row</button>
              <input
                type="submit"
                value="Calculate"
                onclick="showPopup(); return false;"
                class="table-event"
              />
            </div>
            <div id="tableContainer"></div>
          </div>
        </div>
      </section>
    </section>

    <script src="static/script.js"></script>
<script>
    var maxRows = 100; // Maximum allowed rows
    var id = 1; // Initialize the JavaScript id variable with the Jinja id variable
    // Display the initial default row
    createTablewithHeader(id);

    function addRow() 
    {
        if (id < maxRows) 
        {
          id++; // Increment the JavaScript id variable
          createTable(id);
        }
    }

    function createTable(id) 
    {
        var tablehtml = "";
        tablehtml += "<div id='" + id + "' class='calculator-table'>";
        tablehtml += "<input type='text' class='inputs' id='start' name='principal' placeholder='Principal' required>";
        tablehtml += '<input type="text" class="inputs" id="rate" name="rate" placeholder="Interest Rate (%)" required>';
        tablehtml += '<input type="date" class="inputs" id="start" name="start" placeholder="Start Date of Deposit" required>';
        tablehtml += '<input type="date" class="inputs" id="maturity" name="maturity" placeholder="Maturity Date of Deposit" required>';
        tablehtml += '<select name="compound" id="compounding" required class="select"><option value="0">No Compounding</option><option value="1">Yearly</option><option value="2">Half-Yearly</option><option value="3">Four-Monthly</option><option value="4">Quarterly</option><option value="6">Bi-Monthly</option><option value="12">Monthly</option></select>';
        tablehtml += '<select name="payout" id="payout" required class="select"><option value="0">On Maturity</option><option value="1">Yearly</option><option value="2">Half-Yearly</option><option value="3">Four-Monthly</option><option value="4">Quarterly</option><option value="6">Bi-Monthly</option><option value="12">Monthly</option></select>';
        tablehtml += '&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" class="action" name="deleteCheckbox" checked>';
        tablehtml += '&nbsp;&nbsp;<button class="delete-btn" class="action" onclick="deleteRow(\'' + id + '\')"><i class="bx bxs-trash"></i></button>';
        tablehtml += "</div>";
        document.getElementById("tableContainer").innerHTML += tablehtml;
    }

      function createTablewithHeader(id) {
        var tablehtml = "";

        // Header
        tablehtml += "<div class='header'>";
        tablehtml += "<span class='headers'>Principal</span>";
        tablehtml += '<span class="headers">Interest Rate (%)</span>';
        tablehtml += '<span class="headers">Start Date of Deposit</span>';
        tablehtml += '<span class="headers">Maturity Date of Deposit</span>';
        tablehtml += '<span class="headers">Compounding</span>';
        tablehtml += '<span class="headers">Interest Payout Period</span>';
        tablehtml += '<span class="headers">Action</span>';
        tablehtml += "";
        tablehtml += "</div>";

        // Row
        tablehtml += "<div id='" + id + "' class='calculator-table'>";
        tablehtml += "<input type='text' class='inputs' id='start' name='principal' placeholder='Principal' required>";
        tablehtml += '<input type="text" class="inputs" id="rate" name="rate" placeholder="Interest Rate (%)" required>';
        tablehtml += '<input type="date" class="inputs" id="start" name="start" placeholder="Start Date of Deposit" required>';
        tablehtml += '<input type="date" class="inputs" id="maturity" name="maturity" placeholder="Maturity Date of Deposit" required>';
        tablehtml += '<select name="compound" id="compounding" required class="select"><option value="0">No Compounding</option><option value="1">Yearly</option><option value="2">Half-Yearly</option><option value="3">Four-Monthly</option><option value="4">Quarterly</option><option value="6">Bi-Monthly</option><option value="12">Monthly</option></select>';
        tablehtml += '<select name="payout" id="payout" required class="select"><option value="0">On Maturity</option><option value="1">Yearly</option><option value="2">Half-Yearly</option><option value="3">Four-Monthly</option><option value="4">Quarterly</option><option value="6">Bi-Monthly</option><option value="12">Monthly</option></select>';
        tablehtml += '&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" class="action" name="deleteCheckbox" checked>';
        tablehtml += '&nbsp;&nbsp;<button class="delete-btn" class="action" onclick="deleteRow(' + id + ')"><i class="bx bxs-trash"></i></button>';
        tablehtml += "</div>";
        document.getElementById("tableContainer").innerHTML += tablehtml;
      }

    function deleteRow(id)
    {
        console.log(id);
        var row = document.getElementById(id);
        row.parentNode.removeChild(row);
    }
</script>
  </body>
</html>
